@import './scss/abstracts/variables', './scss/abstracts/mixins', './scss/base/resets', './scss/layout/header', './scss/pages/home', './scss/pages/restau', './scss/layout/footer';

body {
    padding: 0;
    background-color: #F7F7F7;
    margin: 0 auto;
    color: #000;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

h2{
    font-size: 24px;
}

main{
    display:flex;
    flex-direction: column;
}

/*@media screen and (min-width: 700px) {
    main {
        padding: 0 30px;
        max-width: 1432px;
        margin: 0 auto;
    }
}*/